:root {
  --info-10: var(--color-styles-info-10);
  --info-20: var(--color-styles-info-20);
  --info-30: var(--color-styles-info-30);
  --info-40: var(--color-styles-info-40);
  --info-50: var(--color-styles-info-50);
  --info-60: var(--color-styles-info-60);
  --info-70: var(--color-styles-info-70);
  --info-80: var(--color-styles-info-80);
  --warning-10: var(--color-styles-warning-10);
  --warning-20: var(--color-styles-warning-20);
  --warning-30: var(--color-styles-warning-30);
  --warning-40: var(--color-styles-warning-40);
  --warning-50: var(--color-styles-warning-50);
  --warning-60: var(--color-styles-warning-60);
  --warning-70: var(--color-styles-warning-70);
  --warning-80: var(--color-styles-warning-80);
  --white-10: var(--color-styles-white-10);
  --white-20: var(--color-styles-white-20);
  --white-30: var(--color-styles-white-30);
  --white-40: var(--color-styles-white-40);
  --white-50: var(--color-styles-white-50);
  --white-60: var(--color-styles-white-60);
  --white-70: var(--color-styles-white-70);
  --tertiary-10: var(--color-styles-tertiary-10);
  --tertiary-20: var(--color-styles-tertiary-20);
  --tertiary-30: var(--color-styles-tertiary-30);
  --tertiary-40: var(--color-styles-tertiary-40);
  --tertiary-50: var(--color-styles-tertiary-50);
  --tertiary-60: var(--color-styles-tertiary-60);
  --tertiary-70: var(--color-styles-tertiary-70);
  --tertiary-80: var(--color-styles-tertiary-80);
  --warning-0110: var(--color-styles-warning-0110);
  --warning-0220: var(--color-styles-warning-0220);
  --warning-0330: var(--color-styles-warning-0330);
  --warning-0440: var(--color-styles-warning-0440);
  --warning-0550: var(--color-styles-warning-0550);
  --warning-0660: var(--color-styles-warning-0660);
  --warning-0770: var(--color-styles-warning-0770);
  --warning-0880: var(--color-styles-warning-0880);
  --icon-20: var(--color-styles-icon-20);
  --icon-10: var(--color-styles-icon-10);
  --icon-30: var(--color-styles-icon-30);
  --icon-40: var(--color-styles-icon-40);
  --icon-50: var(--color-styles-icon-50);
  --icon-60: var(--color-styles-icon-60);
  --icon-70: var(--color-styles-icon-70);
  --icon-80: var(--color-styles-icon-80);
  --secondary-10: var(--color-styles-secondary-10);
  --secondary-20: var(--color-styles-secondary-20);
  --secondary-30: var(--color-styles-secondary-30);
  --secondary-40: var(--color-styles-secondary-40);
  --secondary-50: var(--color-styles-secondary-50);
  --secondary-60: var(--color-styles-secondary-60);
  --secondary-70: var(--color-styles-secondary-70);
  --secondary-80: var(--color-styles-secondary-80);
  --success-10: var(--color-styles-success-10);
  --success-20: var(--color-styles-success-20);
  --success-30: var(--color-styles-success-30);
  --success-40: var(--color-styles-success-40);
  --success-50: var(--color-styles-success-50);
  --success-60: var(--color-styles-success-60);
  --success-70: var(--color-styles-success-70);
  --success-80: var(--color-styles-success-80);
  --text-10: var(--color-styles-text-10);
  --text-20: var(--color-styles-text-20);
  --text-30: var(--color-styles-text-30);
  --text-40: var(--color-styles-text-40);
  --text-50: var(--color-styles-text-50);
  --text-60: var(--color-styles-text-60);
  --text-70: var(--color-styles-text-70);
  --text-80: var(--color-styles-text-80);
  --primary-10: var(--color-styles-primary-10);
  --primary-20: var(--color-styles-primary-20);
  --primary-30: var(--color-styles-primary-30);
  --primary-40: var(--color-styles-primary-40);
  --primary-50: var(--color-styles-primary-50);
  --primary-60: var(--color-styles-primary-60);
  --primary-70: var(--color-styles-primary-70);
  --primary-80: var(--color-styles-primary-80);
  --dekstop-display-64-extra-bold-font-family: "Inter", Helvetica;
  --dekstop-display-64-extra-bold-font-weight: 800;
  --dekstop-display-64-extra-bold-font-size: 64px;
  --dekstop-display-64-extra-bold-letter-spacing: 0px;
  --dekstop-display-64-extra-bold-line-height: 96px;
  --dekstop-display-64-extra-bold-font-style: normal;
  --dekstop-display-64-semi-bold-font-family: "Inter", Helvetica;
  --dekstop-display-64-semi-bold-font-weight: 600;
  --dekstop-display-64-semi-bold-font-size: 64px;
  --dekstop-display-64-semi-bold-letter-spacing: 0px;
  --dekstop-display-64-semi-bold-line-height: 96px;
  --dekstop-display-64-semi-bold-font-style: normal;
  --dekstop-display-64-regular-font-family: "Inter", Helvetica;
  --dekstop-display-64-regular-font-weight: 400;
  --dekstop-display-64-regular-font-size: 64px;
  --dekstop-display-64-regular-letter-spacing: 0px;
  --dekstop-display-64-regular-line-height: 96px;
  --dekstop-display-64-regular-font-style: normal;
  --dekstop-display-64-light-font-family: "Inter", Helvetica;
  --dekstop-display-64-light-font-weight: 300;
  --dekstop-display-64-light-font-size: 64px;
  --dekstop-display-64-light-letter-spacing: 0px;
  --dekstop-display-64-light-line-height: 96px;
  --dekstop-display-64-light-font-style: normal;
  --dekstop-headings-h1-48-extra-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h1-48-extra-bold-font-weight: 800;
  --dekstop-headings-h1-48-extra-bold-font-size: 48px;
  --dekstop-headings-h1-48-extra-bold-letter-spacing: 0px;
  --dekstop-headings-h1-48-extra-bold-line-height: 72px;
  --dekstop-headings-h1-48-extra-bold-font-style: normal;
  --dekstop-headings-h1-48-semi-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h1-48-semi-bold-font-weight: 600;
  --dekstop-headings-h1-48-semi-bold-font-size: 48px;
  --dekstop-headings-h1-48-semi-bold-letter-spacing: 0px;
  --dekstop-headings-h1-48-semi-bold-line-height: 72px;
  --dekstop-headings-h1-48-semi-bold-font-style: normal;
  --dekstop-headings-h1-48-regular-font-family: "Inter", Helvetica;
  --dekstop-headings-h1-48-regular-font-weight: 400;
  --dekstop-headings-h1-48-regular-font-size: 48px;
  --dekstop-headings-h1-48-regular-letter-spacing: 0px;
  --dekstop-headings-h1-48-regular-line-height: 72px;
  --dekstop-headings-h1-48-regular-font-style: normal;
  --dekstop-headings-h1-48-light-font-family: "Inter", Helvetica;
  --dekstop-headings-h1-48-light-font-weight: 300;
  --dekstop-headings-h1-48-light-font-size: 48px;
  --dekstop-headings-h1-48-light-letter-spacing: 0px;
  --dekstop-headings-h1-48-light-line-height: 72px;
  --dekstop-headings-h1-48-light-font-style: normal;
  --dekstop-headings-h2-40-extra-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h2-40-extra-bold-font-weight: 800;
  --dekstop-headings-h2-40-extra-bold-font-size: 40px;
  --dekstop-headings-h2-40-extra-bold-letter-spacing: 0px;
  --dekstop-headings-h2-40-extra-bold-line-height: 150%;
  --dekstop-headings-h2-40-extra-bold-font-style: normal;
  --dekstop-headings-h2-40-semi-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h2-40-semi-bold-font-weight: 600;
  --dekstop-headings-h2-40-semi-bold-font-size: 40px;
  --dekstop-headings-h2-40-semi-bold-letter-spacing: 0px;
  --dekstop-headings-h2-40-semi-bold-line-height: 150%;
  --dekstop-headings-h2-40-semi-bold-font-style: normal;
  --dekstop-headings-h2-40-regular-font-family: "Inter", Helvetica;
  --dekstop-headings-h2-40-regular-font-weight: 400;
  --dekstop-headings-h2-40-regular-font-size: 40px;
  --dekstop-headings-h2-40-regular-letter-spacing: 0px;
  --dekstop-headings-h2-40-regular-line-height: 150%;
  --dekstop-headings-h2-40-regular-font-style: normal;
  --dekstop-headings-h2-40-light-font-family: "Inter", Helvetica;
  --dekstop-headings-h2-40-light-font-weight: 300;
  --dekstop-headings-h2-40-light-font-size: 40px;
  --dekstop-headings-h2-40-light-letter-spacing: 0px;
  --dekstop-headings-h2-40-light-line-height: 150%;
  --dekstop-headings-h2-40-light-font-style: normal;
  --dekstop-headings-h3-32-extra-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h3-32-extra-bold-font-weight: 800;
  --dekstop-headings-h3-32-extra-bold-font-size: 32px;
  --dekstop-headings-h3-32-extra-bold-letter-spacing: 0px;
  --dekstop-headings-h3-32-extra-bold-line-height: 150%;
  --dekstop-headings-h3-32-extra-bold-font-style: normal;
  --dekstop-headings-h3-32-semi-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h3-32-semi-bold-font-weight: 600;
  --dekstop-headings-h3-32-semi-bold-font-size: 32px;
  --dekstop-headings-h3-32-semi-bold-letter-spacing: 0px;
  --dekstop-headings-h3-32-semi-bold-line-height: 150%;
  --dekstop-headings-h3-32-semi-bold-font-style: normal;
  --dekstop-headings-h3-32-regular-font-family: "Inter", Helvetica;
  --dekstop-headings-h3-32-regular-font-weight: 400;
  --dekstop-headings-h3-32-regular-font-size: 32px;
  --dekstop-headings-h3-32-regular-letter-spacing: 0px;
  --dekstop-headings-h3-32-regular-line-height: 150%;
  --dekstop-headings-h3-32-regular-font-style: normal;
  --dekstop-headings-h3-32-light-font-family: "Inter", Helvetica;
  --dekstop-headings-h3-32-light-font-weight: 300;
  --dekstop-headings-h3-32-light-font-size: 32px;
  --dekstop-headings-h3-32-light-letter-spacing: 0px;
  --dekstop-headings-h3-32-light-line-height: 150%;
  --dekstop-headings-h3-32-light-font-style: normal;
  --dekstop-headings-h4-24-extra-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h4-24-extra-bold-font-weight: 800;
  --dekstop-headings-h4-24-extra-bold-font-size: 24px;
  --dekstop-headings-h4-24-extra-bold-letter-spacing: 0px;
  --dekstop-headings-h4-24-extra-bold-line-height: 150%;
  --dekstop-headings-h4-24-extra-bold-font-style: normal;
  --dekstop-headings-h4-24-semi-bold-font-family: "Inter", Helvetica;
  --dekstop-headings-h4-24-semi-bold-font-weight: 600;
  --dekstop-headings-h4-24-semi-bold-font-size: 24px;
  --dekstop-headings-h4-24-semi-bold-letter-spacing: 0px;
  --dekstop-headings-h4-24-semi-bold-line-height: 150%;
  --dekstop-headings-h4-24-semi-bold-font-style: normal;
  --dekstop-headings-h4-24-regular-font-family: "Inter", Helvetica;
  --dekstop-headings-h4-24-regular-font-weight: 400;
  --dekstop-headings-h4-24-regular-font-size: 24px;
  --dekstop-headings-h4-24-regular-letter-spacing: 0px;
  --dekstop-headings-h4-24-regular-line-height: 150%;
  --dekstop-headings-h4-24-regular-font-style: normal;
  --dekstop-headings-h4-24-light-font-family: "Inter", Helvetica;
  --dekstop-headings-h4-24-light-font-weight: 300;
  --dekstop-headings-h4-24-light-font-size: 24px;
  --dekstop-headings-h4-24-light-letter-spacing: 0px;
  --dekstop-headings-h4-24-light-line-height: 150%;
  --dekstop-headings-h4-24-light-font-style: normal;
  --mobile-display-48-extra-bold-font-family: "Inter", Helvetica;
  --mobile-display-48-extra-bold-font-weight: 800;
  --mobile-display-48-extra-bold-font-size: 48px;
  --mobile-display-48-extra-bold-letter-spacing: 0px;
  --mobile-display-48-extra-bold-line-height: 72px;
  --mobile-display-48-extra-bold-font-style: normal;
  --mobile-display-48-semi-bold-font-family: "Inter", Helvetica;
  --mobile-display-48-semi-bold-font-weight: 600;
  --mobile-display-48-semi-bold-font-size: 48px;
  --mobile-display-48-semi-bold-letter-spacing: 0px;
  --mobile-display-48-semi-bold-line-height: 72px;
  --mobile-display-48-semi-bold-font-style: normal;
  --mobile-display-48-regular-font-family: "Inter", Helvetica;
  --mobile-display-48-regular-font-weight: 400;
  --mobile-display-48-regular-font-size: 48px;
  --mobile-display-48-regular-letter-spacing: 0px;
  --mobile-display-48-regular-line-height: 72px;
  --mobile-display-48-regular-font-style: normal;
  --mobile-display-48-light-font-family: "Inter", Helvetica;
  --mobile-display-48-light-font-weight: 300;
  --mobile-display-48-light-font-size: 48px;
  --mobile-display-48-light-letter-spacing: 0px;
  --mobile-display-48-light-line-height: 72px;
  --mobile-display-48-light-font-style: normal;
  --mobile-headings-h1-40-extra-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h1-40-extra-bold-font-weight: 800;
  --mobile-headings-h1-40-extra-bold-font-size: 40px;
  --mobile-headings-h1-40-extra-bold-letter-spacing: 0px;
  --mobile-headings-h1-40-extra-bold-line-height: 150%;
  --mobile-headings-h1-40-extra-bold-font-style: normal;
  --mobile-headings-h1-40-semi-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h1-40-semi-bold-font-weight: 600;
  --mobile-headings-h1-40-semi-bold-font-size: 40px;
  --mobile-headings-h1-40-semi-bold-letter-spacing: 0px;
  --mobile-headings-h1-40-semi-bold-line-height: 150%;
  --mobile-headings-h1-40-semi-bold-font-style: normal;
  --mobile-headings-h1-40-regular-font-family: "Inter", Helvetica;
  --mobile-headings-h1-40-regular-font-weight: 400;
  --mobile-headings-h1-40-regular-font-size: 40px;
  --mobile-headings-h1-40-regular-letter-spacing: 0px;
  --mobile-headings-h1-40-regular-line-height: 150%;
  --mobile-headings-h1-40-regular-font-style: normal;
  --mobile-headings-h1-40-light-font-family: "Inter", Helvetica;
  --mobile-headings-h1-40-light-font-weight: 300;
  --mobile-headings-h1-40-light-font-size: 40px;
  --mobile-headings-h1-40-light-letter-spacing: 0px;
  --mobile-headings-h1-40-light-line-height: 150%;
  --mobile-headings-h1-40-light-font-style: normal;
  --mobile-headings-h2-32-extra-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h2-32-extra-bold-font-weight: 800;
  --mobile-headings-h2-32-extra-bold-font-size: 32px;
  --mobile-headings-h2-32-extra-bold-letter-spacing: 0px;
  --mobile-headings-h2-32-extra-bold-line-height: 150%;
  --mobile-headings-h2-32-extra-bold-font-style: normal;
  --mobile-headings-h2-32-semi-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h2-32-semi-bold-font-weight: 600;
  --mobile-headings-h2-32-semi-bold-font-size: 32px;
  --mobile-headings-h2-32-semi-bold-letter-spacing: 0px;
  --mobile-headings-h2-32-semi-bold-line-height: 150%;
  --mobile-headings-h2-32-semi-bold-font-style: normal;
  --mobile-headings-h2-32-regular-font-family: "Inter", Helvetica;
  --mobile-headings-h2-32-regular-font-weight: 400;
  --mobile-headings-h2-32-regular-font-size: 32px;
  --mobile-headings-h2-32-regular-letter-spacing: 0px;
  --mobile-headings-h2-32-regular-line-height: 150%;
  --mobile-headings-h2-32-regular-font-style: normal;
  --mobile-headings-h2-32-light-font-family: "Inter", Helvetica;
  --mobile-headings-h2-32-light-font-weight: 300;
  --mobile-headings-h2-32-light-font-size: 32px;
  --mobile-headings-h2-32-light-letter-spacing: 0px;
  --mobile-headings-h2-32-light-line-height: 150%;
  --mobile-headings-h2-32-light-font-style: normal;
  --mobile-headings-h3-24-extra-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h3-24-extra-bold-font-weight: 800;
  --mobile-headings-h3-24-extra-bold-font-size: 24px;
  --mobile-headings-h3-24-extra-bold-letter-spacing: 0px;
  --mobile-headings-h3-24-extra-bold-line-height: 150%;
  --mobile-headings-h3-24-extra-bold-font-style: normal;
  --mobile-headings-h3-24-semi-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h3-24-semi-bold-font-weight: 600;
  --mobile-headings-h3-24-semi-bold-font-size: 24px;
  --mobile-headings-h3-24-semi-bold-letter-spacing: 0px;
  --mobile-headings-h3-24-semi-bold-line-height: 150%;
  --mobile-headings-h3-24-semi-bold-font-style: normal;
  --mobile-headings-h3-24-regular-font-family: "Inter", Helvetica;
  --mobile-headings-h3-24-regular-font-weight: 400;
  --mobile-headings-h3-24-regular-font-size: 24px;
  --mobile-headings-h3-24-regular-letter-spacing: 0px;
  --mobile-headings-h3-24-regular-line-height: 150%;
  --mobile-headings-h3-24-regular-font-style: normal;
  --mobile-headings-h3-24-light-font-family: "Inter", Helvetica;
  --mobile-headings-h3-24-light-font-weight: 300;
  --mobile-headings-h3-24-light-font-size: 24px;
  --mobile-headings-h3-24-light-letter-spacing: 0px;
  --mobile-headings-h3-24-light-line-height: 150%;
  --mobile-headings-h3-24-light-font-style: normal;
  --mobile-headings-h4-20-extra-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h4-20-extra-bold-font-weight: 800;
  --mobile-headings-h4-20-extra-bold-font-size: 20px;
  --mobile-headings-h4-20-extra-bold-letter-spacing: 0px;
  --mobile-headings-h4-20-extra-bold-line-height: 150%;
  --mobile-headings-h4-20-extra-bold-font-style: normal;
  --mobile-headings-h4-20-semi-bold-font-family: "Inter", Helvetica;
  --mobile-headings-h4-20-semi-bold-font-weight: 600;
  --mobile-headings-h4-20-semi-bold-font-size: 20px;
  --mobile-headings-h4-20-semi-bold-letter-spacing: 0px;
  --mobile-headings-h4-20-semi-bold-line-height: 150%;
  --mobile-headings-h4-20-semi-bold-font-style: normal;
  --mobile-headings-h4-20-regular-font-family: "Inter", Helvetica;
  --mobile-headings-h4-20-regular-font-weight: 400;
  --mobile-headings-h4-20-regular-font-size: 20px;
  --mobile-headings-h4-20-regular-letter-spacing: 0px;
  --mobile-headings-h4-20-regular-line-height: 150%;
  --mobile-headings-h4-20-regular-font-style: normal;
  --mobile-headings-h4-20-light-font-family: "Inter", Helvetica;
  --mobile-headings-h4-20-light-font-weight: 300;
  --mobile-headings-h4-20-light-font-size: 20px;
  --mobile-headings-h4-20-light-letter-spacing: 0px;
  --mobile-headings-h4-20-light-line-height: 150%;
  --mobile-headings-h4-20-light-font-style: normal;
  --paragraph-p18-18-extra-bold-font-family: "Inter", Helvetica;
  --paragraph-p18-18-extra-bold-font-weight: 800;
  --paragraph-p18-18-extra-bold-font-size: 18px;
  --paragraph-p18-18-extra-bold-letter-spacing: 0px;
  --paragraph-p18-18-extra-bold-line-height: 150%;
  --paragraph-p18-18-extra-bold-font-style: normal;
  --paragraph-p18-18-semi-bold-font-family: "Inter", Helvetica;
  --paragraph-p18-18-semi-bold-font-weight: 600;
  --paragraph-p18-18-semi-bold-font-size: 18px;
  --paragraph-p18-18-semi-bold-letter-spacing: 0px;
  --paragraph-p18-18-semi-bold-line-height: 150%;
  --paragraph-p18-18-semi-bold-font-style: normal;
  --paragraph-p18-18-regular-font-family: "Inter", Helvetica;
  --paragraph-p18-18-regular-font-weight: 400;
  --paragraph-p18-18-regular-font-size: 18px;
  --paragraph-p18-18-regular-letter-spacing: 0px;
  --paragraph-p18-18-regular-line-height: 150%;
  --paragraph-p18-18-regular-font-style: normal;
  --paragraph-p18-18-light-font-family: "Inter", Helvetica;
  --paragraph-p18-18-light-font-weight: 300;
  --paragraph-p18-18-light-font-size: 18px;
  --paragraph-p18-18-light-letter-spacing: 0px;
  --paragraph-p18-18-light-line-height: 150%;
  --paragraph-p18-18-light-font-style: normal;
  --paragraph-main-p16-16-extra-bold-font-family: "Inter", Helvetica;
  --paragraph-main-p16-16-extra-bold-font-weight: 800;
  --paragraph-main-p16-16-extra-bold-font-size: 16px;
  --paragraph-main-p16-16-extra-bold-letter-spacing: 0px;
  --paragraph-main-p16-16-extra-bold-line-height: 150%;
  --paragraph-main-p16-16-extra-bold-font-style: normal;
  --paragraph-main-p16-16-semi-bold-font-family: "Inter", Helvetica;
  --paragraph-main-p16-16-semi-bold-font-weight: 600;
  --paragraph-main-p16-16-semi-bold-font-size: 16px;
  --paragraph-main-p16-16-semi-bold-letter-spacing: 0px;
  --paragraph-main-p16-16-semi-bold-line-height: 150%;
  --paragraph-main-p16-16-semi-bold-font-style: normal;
  --paragraph-main-p16-16-regular-font-family: "Inter", Helvetica;
  --paragraph-main-p16-16-regular-font-weight: 400;
  --paragraph-main-p16-16-regular-font-size: 16px;
  --paragraph-main-p16-16-regular-letter-spacing: 0px;
  --paragraph-main-p16-16-regular-line-height: 150%;
  --paragraph-main-p16-16-regular-font-style: normal;
  --paragraph-main-p16-16-light-font-family: "Inter", Helvetica;
  --paragraph-main-p16-16-light-font-weight: 300;
  --paragraph-main-p16-16-light-font-size: 16px;
  --paragraph-main-p16-16-light-letter-spacing: 0px;
  --paragraph-main-p16-16-light-line-height: 150%;
  --paragraph-main-p16-16-light-font-style: normal;
  --paragraph-caption-p12-12-extra-bold-font-family: "Inter", Helvetica;
  --paragraph-caption-p12-12-extra-bold-font-weight: 800;
  --paragraph-caption-p12-12-extra-bold-font-size: 12px;
  --paragraph-caption-p12-12-extra-bold-letter-spacing: 0px;
  --paragraph-caption-p12-12-extra-bold-line-height: 150%;
  --paragraph-caption-p12-12-extra-bold-font-style: normal;
  --paragraph-caption-p12-12-semi-bold-font-family: "Inter", Helvetica;
  --paragraph-caption-p12-12-semi-bold-font-weight: 600;
  --paragraph-caption-p12-12-semi-bold-font-size: 12px;
  --paragraph-caption-p12-12-semi-bold-letter-spacing: 0px;
  --paragraph-caption-p12-12-semi-bold-line-height: 150%;
  --paragraph-caption-p12-12-semi-bold-font-style: normal;
  --paragraph-caption-p12-12-regular-font-family: "Inter", Helvetica;
  --paragraph-caption-p12-12-regular-font-weight: 400;
  --paragraph-caption-p12-12-regular-font-size: 12px;
  --paragraph-caption-p12-12-regular-letter-spacing: 0px;
  --paragraph-caption-p12-12-regular-line-height: 150%;
  --paragraph-caption-p12-12-regular-font-style: normal;
  --paragraph-caption-p12-12-light-font-family: "Inter", Helvetica;
  --paragraph-caption-p12-12-light-font-weight: 300;
  --paragraph-caption-p12-12-light-font-size: 12px;
  --paragraph-caption-p12-12-light-letter-spacing: 0px;
  --paragraph-caption-p12-12-light-line-height: 150%;
  --paragraph-caption-p12-12-light-font-style: normal;
  --label-l18-extra-bold-font-family: "Inter", Helvetica;
  --label-l18-extra-bold-font-weight: 800;
  --label-l18-extra-bold-font-size: 18px;
  --label-l18-extra-bold-letter-spacing: 0px;
  --label-l18-extra-bold-line-height: 100%;
  --label-l18-extra-bold-font-style: normal;
  --label-l18-semi-bold-font-family: "Inter", Helvetica;
  --label-l18-semi-bold-font-weight: 600;
  --label-l18-semi-bold-font-size: 18px;
  --label-l18-semi-bold-letter-spacing: 0px;
  --label-l18-semi-bold-line-height: 100%;
  --label-l18-semi-bold-font-style: normal;
  --label-l18-regular-font-family: "Inter", Helvetica;
  --label-l18-regular-font-weight: 400;
  --label-l18-regular-font-size: 18px;
  --label-l18-regular-letter-spacing: 0px;
  --label-l18-regular-line-height: 100%;
  --label-l18-regular-font-style: normal;
  --label-l18-light-font-family: "Inter", Helvetica;
  --label-l18-light-font-weight: 300;
  --label-l18-light-font-size: 18px;
  --label-l18-light-letter-spacing: 0px;
  --label-l18-light-line-height: 100%;
  --label-l18-light-font-style: normal;
  --label-main-l16-extra-bold-font-family: "Inter", Helvetica;
  --label-main-l16-extra-bold-font-weight: 800;
  --label-main-l16-extra-bold-font-size: 16px;
  --label-main-l16-extra-bold-letter-spacing: 0px;
  --label-main-l16-extra-bold-line-height: 100%;
  --label-main-l16-extra-bold-font-style: normal;
  --label-main-l16-semi-bold-font-family: "Inter", Helvetica;
  --label-main-l16-semi-bold-font-weight: 600;
  --label-main-l16-semi-bold-font-size: 16px;
  --label-main-l16-semi-bold-letter-spacing: 0px;
  --label-main-l16-semi-bold-line-height: 100%;
  --label-main-l16-semi-bold-font-style: normal;
  --label-main-l16-regular-font-family: "Inter", Helvetica;
  --label-main-l16-regular-font-weight: 400;
  --label-main-l16-regular-font-size: 16px;
  --label-main-l16-regular-letter-spacing: 0px;
  --label-main-l16-regular-line-height: 100%;
  --label-main-l16-regular-font-style: normal;
  --label-main-l16-light-font-family: "Inter", Helvetica;
  --label-main-l16-light-font-weight: 300;
  --label-main-l16-light-font-size: 16px;
  --label-main-l16-light-letter-spacing: 0px;
  --label-main-l16-light-line-height: 100%;
  --label-main-l16-light-font-style: normal;
  --label-l12-extra-bold-font-family: "Inter", Helvetica;
  --label-l12-extra-bold-font-weight: 800;
  --label-l12-extra-bold-font-size: 12px;
  --label-l12-extra-bold-letter-spacing: 0px;
  --label-l12-extra-bold-line-height: 100%;
  --label-l12-extra-bold-font-style: normal;
  --label-l12-semi-bold-font-family: "Inter", Helvetica;
  --label-l12-semi-bold-font-weight: 600;
  --label-l12-semi-bold-font-size: 12px;
  --label-l12-semi-bold-letter-spacing: 0px;
  --label-l12-semi-bold-line-height: 100%;
  --label-l12-semi-bold-font-style: normal;
  --label-l12-regular-font-family: "Inter", Helvetica;
  --label-l12-regular-font-weight: 400;
  --label-l12-regular-font-size: 12px;
  --label-l12-regular-letter-spacing: 0px;
  --label-l12-regular-line-height: 100%;
  --label-l12-regular-font-style: normal;
  --label-l12-light-font-family: "Inter", Helvetica;
  --label-l12-light-font-weight: 300;
  --label-l12-light-font-size: 12px;
  --label-l12-light-letter-spacing: 0px;
  --label-l12-light-line-height: 100%;
  --label-l12-light-font-style: normal;
  --collection-1-color: rgba(255, 255, 255, 1);
  --collection-1-color-2: var(--global-tokens-color-tertiary);
  --color-styles-info-10: rgba(235, 242, 254, 1);
  --color-styles-info-20: rgba(216, 230, 253, 1);
  --color-styles-info-30: rgba(196, 217, 252, 1);
  --color-styles-info-40: rgba(177, 205, 251, 1);
  --color-styles-info-50: rgba(137, 180, 250, 1);
  --color-styles-info-60: rgba(98, 155, 248, 1);
  --color-styles-info-70: #3b82f6;
  --color-styles-info-80: rgba(47, 105, 199, 1);
  --color-styles-warning-10: rgba(254, 237, 237, 1);
  --color-styles-warning-20: rgba(253, 219, 219, 1);
  --color-styles-warning-30: rgba(252, 201, 201, 1);
  --color-styles-warning-40: rgba(251, 183, 183, 1);
  --color-styles-warning-50: rgba(250, 148, 148, 1);
  --color-styles-warning-60: rgba(248, 112, 112, 1);
  --color-styles-warning-70: #f64c4c;
  --color-styles-warning-80: rgba(202, 61, 61, 1);
  --color-styles-white-10: rgba(254, 254, 254, 1);
  --color-styles-white-20: rgba(253, 253, 253, 1);
  --color-styles-white-30: rgba(252, 252, 252, 1);
  --color-styles-white-40: rgba(251, 251, 251, 1);
  --color-styles-white-50: rgba(249, 249, 249, 1);
  --color-styles-white-60: rgba(248, 248, 248, 1);
  --color-styles-white-70: rgba(218, 218, 218, 1);
  --color-styles-tertiary-10: rgba(255, 250, 240, 1);
  --color-styles-tertiary-20: rgba(255, 246, 224, 1);
  --color-styles-tertiary-30: rgba(255, 241, 209, 1);
  --color-styles-tertiary-40: rgba(255, 237, 194, 1);
  --color-styles-tertiary-50: rgba(255, 227, 163, 1);
  --color-styles-tertiary-60: rgba(255, 218, 133, 1);
  --color-styles-tertiary-70: #ffd166;
  --color-styles-tertiary-80: rgba(216, 176, 82, 1);
  --color-styles-warning-0110: rgba(255, 247, 231, 1);
  --color-styles-warning-0220: rgba(255, 239, 207, 1);
  --color-styles-warning-0330: rgba(255, 230, 182, 1);
  --color-styles-warning-0440: rgba(255, 222, 158, 1);
  --color-styles-warning-0550: rgba(255, 206, 110, 1);
  --color-styles-warning-0660: rgba(255, 189, 61, 1);
  --color-styles-warning-0770: #ffad0d;
  --color-styles-warning-0880: rgba(204, 138, 10, 1);
  --color-styles-icon-20: rgba(224, 227, 232, 1);
  --color-styles-icon-10: rgba(239, 241, 243, 1);
  --color-styles-icon-30: rgba(208, 213, 220, 1);
  --color-styles-icon-40: rgba(193, 199, 209, 1);
  --color-styles-icon-50: rgba(162, 172, 185, 1);
  --color-styles-icon-60: rgba(131, 144, 162, 1);
  --color-styles-icon-70: rgba(100, 116, 139, 1);
  --color-styles-icon-80: rgba(80, 93, 111, 1);
  --color-styles-secondary-10: rgba(255, 242, 238, 1);
  --color-styles-secondary-20: rgba(255, 230, 221, 1);
  --color-styles-secondary-30: rgba(255, 217, 204, 1);
  --color-styles-secondary-40: rgba(255, 205, 187, 1);
  --color-styles-secondary-50: rgba(255, 179, 154, 1);
  --color-styles-secondary-60: rgba(255, 154, 120, 1);
  --color-styles-secondary-70: #ff8156;
  --color-styles-secondary-80: #d56a45;
  --color-styles-success-10: rgba(237, 248, 242, 1);
  --color-styles-success-20: rgba(218, 241, 230, 1);
  --color-styles-success-30: rgba(200, 234, 217, 1);
  --color-styles-success-40: rgba(181, 227, 205, 1);
  --color-styles-success-50: rgba(145, 212, 179, 1);
  --color-styles-success-60: rgba(108, 198, 154, 1);
  --color-styles-success-70: #47b881;
  --color-styles-success-80: rgba(57, 147, 103, 1);
  --color-styles-text-10: rgba(208, 208, 208, 1);
  --color-styles-text-20: rgba(193, 193, 193, 1);
  --color-styles-text-30: rgba(179, 179, 179, 1);
  --color-styles-text-40: rgba(164, 164, 164, 1);
  --color-styles-text-50: rgba(134, 134, 134, 1);
  --color-styles-text-60: rgba(105, 105, 105, 1);
  --color-styles-text-70: #4b4b4b;
  --color-styles-text-80: rgba(60, 60, 60, 1);
  --color-styles-primary-10: rgba(232, 249, 250, 1);
  --color-styles-primary-20: rgba(208, 243, 245, 1);
  --color-styles-primary-30: rgba(185, 238, 240, 1);
  --color-styles-primary-40: rgba(161, 232, 235, 1);
  --color-styles-primary-50: rgba(115, 220, 226, 1);
  --color-styles-primary-60: rgba(68, 209, 216, 1);
  --color-styles-primary-70: #16c6d0;
  --color-styles-primary-80: #119ea5;
  --global-tokens-color-primary: var(--color-styles-primary-70);
  --global-tokens-color-secondary: var(--color-styles-secondary-70);
  --global-tokens-color-tertiary: var(--color-styles-tertiary-70);
  --global-tokens-text-primary: var(--color-styles-text-70);
  --global-tokens-text-secondary: var(--color-styles-text-60);
}
